 public void run()
    {
      String Status = readLine("Enter the filing status: "); 
      int tax = readInt("Enter the taxable income: ");
      
      // float sum = () 
      
      /* if ((Status = Single))
        {
          int amount1 = tax >= 9,225
          int amount2 = tax >= 37,450
          int amount3 = tax >=   
           
          
           
          
          System.out.println();
            
        } 
      
        if((Status = MarriedFilingJointly)) 
        {
          
           
           
           
           System.out.println();
          
        } 
      
        if ((Status = MarriedFilingSeperately)) 
        {
         
         
         
        } 
        
      
        if ((Status = headOfHousehold))
         {
          
          
          
         }
           
        System.out.println("Your tax is: " + sum ); 
      
        
        
        private void single(); 
        {
          
          
        }
      
        private void marriedFilingJointly()
          {
          
          
          }
      
        private void marriedFilingSeperately()
          {
      
      
          
          }
      
      private void headOfHousehold()
        {
          
          
        }
     */ 
