 public void run()
    {
     String UserInput = readLine("Enter the filing status: Single-- Married-- MarriedSeperate-- Household? "); 
        System.out.println(UserInput);
        double income = readInt("Enter the taxable income: ");
        double tax;
      
        // Single Tax Income
        
        if (income < 9225)
        {
          tax = (income * 0.10 / income); // multiply income by 10%
          
          
         }
        else if (income > 9225.0)
        {
          tax = (income * 0.10);
          
        }
      
      if (income < 37450)
       {
          tax = (income * 0.15); // multiplies income by 15%
          
       }
       else if (income > 37450)
        {
         tax = (income * 0.15);
          
        }
       if (income < 90750)
       {
         tax = (income * 0.20); // multiplies income by 20%
         
       }
       else if (income > 90750);
       {
         tax = (income * 0.20);
         
       }
    
     if (income < 189300)
       {
           tax = (income * 0.25); // multiplies income by 25%
        ;
       }
    
    else if (income > 189300)
    {
        tax = (income * 0.25);
         
    }
    
    if (income < 411500)
    {
      tax = (income * 0.30); // multiplies tax by 30%
      
    }
    
    else if (income > 411500)
    {
       tax = (income * 0.30);
       
    }
    
    if (income < 413200)
    {
        tax = (income * 0.35);
       
    }
    else if (income > 413200)
    {
        tax = (income * 0.35);
        
    }

    
     // MarriedFilingJointly Tax Income
      
        if (income <= 9225 && income <= 18450) // tax is greater than 9225 or 18450
         {
          tax = (income * 0.10);
          
         } 
     
      else if (income > 9225 && income > 18450)
        {
          tax = (income * 0.10); 
           
        }
        
        if (income < 18451 && income < 74900) 
        {
         tax = (income * 0.15);
         
        } 
        
        else if (income > 18451 && income > 74900)
        {
            tax = (income * 0.15);
        }
      
       
        if (income < 74901 && income < 151200)
         {
           tax = (income * 0.20);
         }
       
        else if (income > 74901 && income > 151200)
        {
          tax = (income * 0.20);   
        }
        
        if (income < 151200 && income < 230450)
         {
           tax = (income * 0.25);
         }
       
        else if (income > 151200 && income > 230450)
         {
          tax = (income * 0.25);
         }
        
       if (income < 230451 && income < 411500)
        {
          tax = (income * 0.30); 
        }
        
        else if (income > 230451 && income > 411500)
         {
             tax = (income * 0.30);
         }
        
         System.out.println("Your sales tax is " + tax )
    
    }
    
